# Ignore virtual environment
airflow_env/
__pycache__/
*.pyc
*.pyo

# Ignore logs and temp files
logs/
*.log

# Ignore data files
data/
database/
*.csv
*.db

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
